header{
    background-color: rgb(32,32,32);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.2em 2em;
}
section.list-view{
    display: flex;
    flex-direction: column;
    padding:1em;
    >.item{
        margin:0.5em 0;
        width:100%;
        box-shadow: 0 0 1em 0 rgba(0,0,0,0.1);
        padding:0.5em;
        border-radius: 0.5em;
        .content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h4{
                width:100%;
            }
            nav{
                width:100%;
                display: flex;
                align-items: center;
                button{
                    width:100%;
                    background-color: transparent;
                    padding:0.2em;
                    border:0;
                    outline: none;
                }
            }
        }
        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                font-size: 0.7em;
            }
        }
    }
}